<h2>{{question.topic}} | Answers: {{answerCount}}</h2>
<hr>
<h4>{{question.author}} | {{dateDisplay question.date}} | <button {{action 'addToFavorites' question}}>favorite</button></h4>
<hr>
<p>{{question.content}}</p>
<hr>
<h3>Answers:</h3>
<ul>
  {{#each sortedAnswers as |answer|}}
  <h4>{{answer.author}} | {{answer.date}} | Rating: {{answer.votes}} | <button {{action 'upVote' answer}}>+</button> <button {{action 'downVote' answer}}>-</button></h4>
  <hr>
  <p>{{answer.content}}</p>
  <hr>
  {{/each}}
</ul>
