
<h2>{{model.topic}}</h2>
<hr>
<h4>{{model.author}} | {{model.date}}</h4>
<hr>
<p>{{model.content}}</p>
<hr>
<h3>Answers:</h3>
<ul>
  {{#each model.answers as |answer|}}
  <h4>{{answer.author}} | {{answer.date}}</h4>
  <hr>
  <p>{{answer.content}}</p>
  <hr>
  {{/each}}
</ul>
<hr>
{{update-question question=model update="update"}}
<button {{action 'deletePost' model}}>Delete</button>
{{new-answer save="save" question=model}}
